<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosu.lesson.dao.TClassroomMapper">
  <resultMap id="BaseResultMap" type="com.fosu.lesson.pojo.TClassroom">
    <result column="classroom_id" jdbcType="VARCHAR" property="classroomId" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="classroom_num" jdbcType="VARCHAR" property="classroomNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    classroom_id, place, classroom_num, remark
  </sql>
  <select id="selectByExample" parameterType="com.fosu.lesson.pojo.TClassroomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_classroom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fosu.lesson.pojo.TClassroomExample">
    delete from t_classroom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fosu.lesson.pojo.TClassroom">
    insert into t_classroom (classroom_id, place, classroom_num, 
      remark)
    values (#{classroomId,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{classroomNum,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fosu.lesson.pojo.TClassroom">
    insert into t_classroom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classroomId != null">
        classroom_id,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="classroomNum != null">
        classroom_num,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classroomId != null">
        #{classroomId,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="classroomNum != null">
        #{classroomNum,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fosu.lesson.pojo.TClassroomExample" resultType="java.lang.Long">
    select count(*) from t_classroom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_classroom
    <set>
      <if test="record.classroomId != null">
        classroom_id = #{record.classroomId,jdbcType=VARCHAR},
      </if>
      <if test="record.place != null">
        place = #{record.place,jdbcType=VARCHAR},
      </if>
      <if test="record.classroomNum != null">
        classroom_num = #{record.classroomNum,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_classroom
    set classroom_id = #{record.classroomId,jdbcType=VARCHAR},
      place = #{record.place,jdbcType=VARCHAR},
      classroom_num = #{record.classroomNum,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>



  <select id="selectOne" parameterType="com.fosu.lesson.pojo.TClassroom" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_classroom
    <where>
      <if test="classroomId != null">
        classroom_id = #{classroomId}
      </if>
      <if test="place != null">
        AND place = #{place}
      </if>
      <if test="classroomNum != null">
        AND classroom_num = #{classroomNum}
      </if>
    </where>
  </select>
</mapper>